USE [master]
GO
/****** Object:  Database [ComopanyProgect]    Script Date: 22.09.2025 12:57:46 ******/
CREATE DATABASE [ComopanyProgect]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ComopanyProgect', FILENAME = N'E:\SQL base\ComopanyProgect.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ComopanyProgect_log', FILENAME = N'E:\SQL base\ComopanyProgect_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ComopanyProgect].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ComopanyProgect]
GO
/****** Object:  UserDefinedFunction [dbo].[create_new_obj2]    Script Date: 22.09.2025 12:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--use ComopanyProgect;
--go;
create function [dbo].[create_new_obj2]( 
	@man as int, @typeObj as int, 
	@typeOffer as int, @client as int) --, @idObj as int output)
	returns int
	as begin
	exec create_new_obj  @man,@typeObj,@typeOffer,@client
	--insert into [Objects] (ManagerId,TypeObjects,Archive,TypeOffer,IdClient)
	--values (@man,@typeObj,1,@typeOffer,@client)
declare @res as int;
	set @res=(select top 1 [Objects].id  from [Objects] order by [Objects].Id desc)  
	return @res
	end
--	exec create_new_obj  1,2,1,1,@res;
--	--set @res=(select top 1 [Objects].id  from [Objects] order by [Objects].Id desc) 
--	
--
--	
--
GO
/****** Object:  UserDefinedFunction [dbo].[get_managerId_by_lastName]    Script Date: 22.09.2025 12:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[get_managerId_by_lastName]
(	
	@manager_last_name as nvarchar(100)
)
RETURNS int

begin
declare @id as int
set @id=(select Manager.Id  from Manager where Manager.LastName=@manager_last_name)  
return @id
end
GO
/****** Object:  Table [dbo].[Apartments]    Script Date: 22.09.2025 12:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Apartments](
	[IdObject] [int] NOT NULL,
	[Citi] [nvarchar](50) NOT NULL,
	[Street] [nvarchar](50) NOT NULL,
	[House] [int] NOT NULL,
	[Apartment] [int] NOT NULL,
	[Floor] [int] NOT NULL,
	[AreaHouse] [int] NOT NULL,
	[Rooms] [int] NOT NULL,
	[Price] [money] NOT NULL,
	[BrandNew] [bit] NULL,
	[SrcPhoto] [nvarchar](150) NULL,
 CONSTRAINT [PK_Apartments] PRIMARY KEY CLUSTERED 
(
	[IdObject] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Appointments]    Script Date: 22.09.2025 12:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ManagerId] [int] NOT NULL,
	[ClientId] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[Time] [time](7) NOT NULL,
	[ObjectId] [int] NOT NULL,
	[Archive] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Archive]    Script Date: 22.09.2025 12:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Archive](
	[Status] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Archive] PRIMARY KEY CLUSTERED 
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 22.09.2025 12:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](150) NOT NULL,
	[LastName] [nvarchar](150) NOT NULL,
	[Manager] [int] NOT NULL,
	[TelNumber] [nvarchar](50) NULL,
	[Archive] [int] NOT NULL,
 CONSTRAINT [PK__Client__3214EC07FF1C5717] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CommercialRealEstates]    Script Date: 22.09.2025 12:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommercialRealEstates](
	[IdObjects] [int] NOT NULL,
	[Citi] [nvarchar](50) NOT NULL,
	[Street] [nvarchar](50) NOT NULL,
	[House] [int] NOT NULL,
	[CommercialObjectType] [int] NOT NULL,
	[Price] [money] NOT NULL,
	[Area] [int] NOT NULL,
	[NumberOffice] [int] NULL,
	[Description] [text] NULL,
 CONSTRAINT [PK_CommercialRealEstates] PRIMARY KEY CLUSTERED 
(
	[IdObjects] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dacha]    Script Date: 22.09.2025 12:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dacha](
	[IdObjects] [int] NOT NULL,
	[Citi] [nvarchar](50) NOT NULL,
	[Street] [nvarchar](50) NOT NULL,
	[House] [int] NOT NULL,
	[Price] [money] NOT NULL,
	[AreaHouse] [int] NOT NULL,
	[Floor] [int] NOT NULL,
	[AreaPlot] [int] NOT NULL,
	[Description] [text] NULL,
 CONSTRAINT [PK_Dacha] PRIMARY KEY CLUSTERED 
(
	[IdObjects] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Description]    Script Date: 22.09.2025 12:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Description](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ObjectId] [int] NOT NULL,
	[Title] [nvarchar](300) NULL,
	[Paragraph_1] [nvarchar](500) NULL,
	[Paragraph_2] [nvarchar](500) NULL,
	[Paragraph_3] [nvarchar](500) NULL,
 CONSTRAINT [PK_Description] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Garage]    Script Date: 22.09.2025 12:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Garage](
	[IdObjects] [int] NOT NULL,
	[Citi] [nvarchar](50) NOT NULL,
	[Street] [nvarchar](50) NOT NULL,
	[House] [int] NOT NULL,
	[Price] [money] NOT NULL,
	[Area] [int] NOT NULL,
	[Description] [text] NULL,
 CONSTRAINT [PK_Garage] PRIMARY KEY CLUSTERED 
(
	[IdObjects] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[House]    Script Date: 22.09.2025 12:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[House](
	[IdObject] [int] NOT NULL,
	[Citi] [nvarchar](50) NOT NULL,
	[Street] [nvarchar](50) NOT NULL,
	[House] [int] NOT NULL,
	[AreaHouse] [int] NOT NULL,
	[AreaPlot] [int] NOT NULL,
	[Rooms] [int] NOT NULL,
	[Floor] [int] NOT NULL,
	[Price] [money] NOT NULL,
	[Description] [text] NULL,
 CONSTRAINT [PK_House] PRIMARY KEY CLUSTERED 
(
	[IdObject] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Land]    Script Date: 22.09.2025 12:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Land](
	[IdObjects] [int] NOT NULL,
	[Citi] [nvarchar](50) NOT NULL,
	[Street] [nvarchar](50) NULL,
	[House] [int] NULL,
	[Coordinates] [nvarchar](50) NOT NULL,
	[LandCategory] [nvarchar](50) NOT NULL,
	[Price] [money] NOT NULL,
	[Area] [int] NOT NULL,
	[Description] [text] NULL,
 CONSTRAINT [PK_Land] PRIMARY KEY CLUSTERED 
(
	[IdObjects] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manager]    Script Date: 22.09.2025 12:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manager](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](150) NOT NULL,
	[LastName] [nvarchar](150) NOT NULL,
	[UserId] [int] NOT NULL,
	[Rate] [money] NOT NULL,
	[WorkSince] [date] NOT NULL,
	[BirthDate] [date] NOT NULL,
	[Archive] [int] NOT NULL,
	[Photo] [nvarchar](max) NULL,
 CONSTRAINT [PK_Manager] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Objects]    Script Date: 22.09.2025 12:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Objects](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ManagerId] [int] NOT NULL,
	[TypeObjects] [int] NOT NULL,
	[Archive] [int] NOT NULL,
	[TypeOffer] [int] NOT NULL,
	[IdClient] [int] NOT NULL,
 CONSTRAINT [PK_Objects] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Offer]    Script Date: 22.09.2025 12:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Offer](
	[id] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Offer] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Photo]    Script Date: 22.09.2025 12:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Photo](
	[Id] [int] NOT NULL,
	[ObjectId] [int] NOT NULL,
	[Photo] [nvarchar](300) NOT NULL,
 CONSTRAINT [PK_Photo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Positions]    Script Date: 22.09.2025 12:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Positions](
	[id] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Positions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Review]    Script Date: 22.09.2025 12:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Review](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AuthorFirstName] [nvarchar](150) NOT NULL,
	[AuthorLastName] [nvarchar](150) NOT NULL,
	[Text] [nvarchar](500) NOT NULL,
	[Mark] [int] NOT NULL,
	[JobTitle] [nvarchar](50) NOT NULL,
	[CreateAt] [date] NOT NULL,
	[Archive] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeCommercialObject]    Script Date: 22.09.2025 12:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeCommercialObject](
	[id] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TypeCommercialObject] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeObjects]    Script Date: 22.09.2025 12:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeObjects](
	[id] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TypeObjects] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 22.09.2025 12:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[LoginName] [nvarchar](150) NOT NULL,
	[Password] [nvarchar](150) NOT NULL,
	[FirstName] [nvarchar](150) NOT NULL,
	[LastName] [nvarchar](150) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[Possition] [int] NOT NULL,
	[Archive] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Apartments] ([IdObject], [Citi], [Street], [House], [Apartment], [Floor], [AreaHouse], [Rooms], [Price], [BrandNew], [SrcPhoto]) VALUES (3, N'Краснодарский край, Сочи', N'Адлерский', 0, 0, 10, 35, 1, 13912000.0000, 1, N'/src/Photo/3/')
INSERT [dbo].[Apartments] ([IdObject], [Citi], [Street], [House], [Apartment], [Floor], [AreaHouse], [Rooms], [Price], [BrandNew], [SrcPhoto]) VALUES (4, N'Краснодар', N'Анны Ахматовой', 19, 135, 3, 36, 1, 4991032.0000, 1, N'/src/Photo/4/')
INSERT [dbo].[Apartments] ([IdObject], [Citi], [Street], [House], [Apartment], [Floor], [AreaHouse], [Rooms], [Price], [BrandNew], [SrcPhoto]) VALUES (10, N'Агой с., Туапсинский район', N'Конечная ', 2, 10, 3, 22, 1, 7040000.0000, 1, N'/src/Photo/10/')
GO
SET IDENTITY_INSERT [dbo].[Appointments] ON 

INSERT [dbo].[Appointments] ([Id], [ManagerId], [ClientId], [Date], [Time], [ObjectId], [Archive]) VALUES (4, 3, 1, CAST(N'2025-01-21' AS Date), CAST(N'09:30:00' AS Time), 1, 1)
INSERT [dbo].[Appointments] ([Id], [ManagerId], [ClientId], [Date], [Time], [ObjectId], [Archive]) VALUES (5, 2, 4, CAST(N'2025-12-20' AS Date), CAST(N'08:15:00' AS Time), 1, 1)
INSERT [dbo].[Appointments] ([Id], [ManagerId], [ClientId], [Date], [Time], [ObjectId], [Archive]) VALUES (18, 12, 7, CAST(N'2025-02-05' AS Date), CAST(N'12:00:00' AS Time), 2, 1)
SET IDENTITY_INSERT [dbo].[Appointments] OFF
GO
INSERT [dbo].[Archive] ([Status], [Name]) VALUES (0, N'Archive')
INSERT [dbo].[Archive] ([Status], [Name]) VALUES (1, N'Active')
GO
SET IDENTITY_INSERT [dbo].[Client] ON 

INSERT [dbo].[Client] ([Id], [FirstName], [LastName], [Manager], [TelNumber], [Archive]) VALUES (1, N'Alex', N'Ivanov', 1, N'+79150123645', 0)
INSERT [dbo].[Client] ([Id], [FirstName], [LastName], [Manager], [TelNumber], [Archive]) VALUES (2, N'Eugene', N'Petrov', 5, N'+79251560390', 0)
INSERT [dbo].[Client] ([Id], [FirstName], [LastName], [Manager], [TelNumber], [Archive]) VALUES (3, N'Ivan', N'Sinevet', 2, N'', 1)
SET IDENTITY_INSERT [dbo].[Client] OFF
GO
INSERT [dbo].[CommercialRealEstates] ([IdObjects], [Citi], [Street], [House], [CommercialObjectType], [Price], [Area], [NumberOffice], [Description]) VALUES (9, N'Энгельс', N'Свободы пл.', 4, 0, 35000.0000, 20, 200, NULL)
GO
INSERT [dbo].[Dacha] ([IdObjects], [Citi], [Street], [House], [Price], [AreaHouse], [Floor], [AreaPlot], [Description]) VALUES (15, N'Энгельс', N'снт Химик-1', 212, 800000.0000, 26, 1, 600, NULL)
GO
SET IDENTITY_INSERT [dbo].[Description] ON 

INSERT [dbo].[Description] ([Id], [ObjectId], [Title], [Paragraph_1], [Paragraph_2], [Paragraph_3]) VALUES (2, 3, N'АПАРТАМЕНТЫ У МОРЯ 
В ЦЕНТРЕ АДЛЕРА', N'В проекте: бассейн, теннисный корт, детские и спортивные площадки, КПП и круглосуточное видеонаблюдение, консьерж-сервис, спа-центры, ресторан и многое другое.', N'Лот — акционный (дешевле на 4.9 млн чем у застройщика)', N'Возможна сдача в аренду через управляющую компанию. ')
SET IDENTITY_INSERT [dbo].[Description] OFF
GO
INSERT [dbo].[Garage] ([IdObjects], [Citi], [Street], [House], [Price], [Area], [Description]) VALUES (14, N'Энгельс', N'гск Химик-9', 254, 300000.0000, 20, NULL)
INSERT [dbo].[Garage] ([IdObjects], [Citi], [Street], [House], [Price], [Area], [Description]) VALUES (1068, N'Энгельс', N'ГСК Химик-9', 490, 200000.0000, 1, N'1')
GO
INSERT [dbo].[House] ([IdObject], [Citi], [Street], [House], [AreaHouse], [AreaPlot], [Rooms], [Floor], [Price], [Description]) VALUES (1, N'Энгельс', N'Нестерова', 90, 120, 2500, 3, 1, 3500000.0000, NULL)
INSERT [dbo].[House] ([IdObject], [Citi], [Street], [House], [AreaHouse], [AreaPlot], [Rooms], [Floor], [Price], [Description]) VALUES (2, N'Энгельс', N'Петровского ', 19, 75, 1500, 2, 1, 2500000.0000, NULL)
INSERT [dbo].[House] ([IdObject], [Citi], [Street], [House], [AreaHouse], [AreaPlot], [Rooms], [Floor], [Price], [Description]) VALUES (8, N'Энгельс', N'Нестерова', 23, 100, 4000, 3, 1, 40000.0000, NULL)
GO
INSERT [dbo].[Land] ([IdObjects], [Citi], [Street], [House], [Coordinates], [LandCategory], [Price], [Area], [Description]) VALUES (1059, N'Энгельс', N'Горная', 14, N'11', N'ИЖС', 1000000.0000, 2500, N'3')
INSERT [dbo].[Land] ([IdObjects], [Citi], [Street], [House], [Coordinates], [LandCategory], [Price], [Area], [Description]) VALUES (1061, N'Энгельс', N'Лунная', 36, N'1', N'ИЖС', 1350000.0000, 2750, N'1')
GO
SET IDENTITY_INSERT [dbo].[Manager] ON 

INSERT [dbo].[Manager] ([Id], [FirstName], [LastName], [UserId], [Rate], [WorkSince], [BirthDate], [Archive], [Photo]) VALUES (1, N'Федор', N'Мордовин', 3, 100.0000, CAST(N'2024-01-24' AS Date), CAST(N'1998-07-07' AS Date), 1, N'/src/AgentPhoto/FedorMordovin.jpg')
INSERT [dbo].[Manager] ([Id], [FirstName], [LastName], [UserId], [Rate], [WorkSince], [BirthDate], [Archive], [Photo]) VALUES (2, N'Олег', N'Дедов', 4, 150.0000, CAST(N'2024-02-24' AS Date), CAST(N'1997-01-01' AS Date), 1, N'/src/AgentPhoto/DedovOleg.jpg')
INSERT [dbo].[Manager] ([Id], [FirstName], [LastName], [UserId], [Rate], [WorkSince], [BirthDate], [Archive], [Photo]) VALUES (3, N'Ivan', N'Petrov', 5, 99.0000, CAST(N'2024-03-20' AS Date), CAST(N'1990-08-09' AS Date), 0, NULL)
SET IDENTITY_INSERT [dbo].[Manager] OFF
GO
SET IDENTITY_INSERT [dbo].[Objects] ON 

INSERT [dbo].[Objects] ([Id], [ManagerId], [TypeObjects], [Archive], [TypeOffer], [IdClient]) VALUES (1, 10, 1, 1, 1, 1)
INSERT [dbo].[Objects] ([Id], [ManagerId], [TypeObjects], [Archive], [TypeOffer], [IdClient]) VALUES (2, 2, 1, 1, 1, 1)
INSERT [dbo].[Objects] ([Id], [ManagerId], [TypeObjects], [Archive], [TypeOffer], [IdClient]) VALUES (3, 3, 0, 1, 1, 2)
SET IDENTITY_INSERT [dbo].[Objects] OFF
GO
INSERT [dbo].[Offer] ([id], [name]) VALUES (1, N'Продажа')
INSERT [dbo].[Offer] ([id], [name]) VALUES (2, N'Аренда')
INSERT [dbo].[Offer] ([id], [name]) VALUES (3, N'Долевая продажа')
GO
INSERT [dbo].[Photo] ([Id], [ObjectId], [Photo]) VALUES (1, 1068, N'/src/Photo/1068-1.jpeg')
INSERT [dbo].[Photo] ([Id], [ObjectId], [Photo]) VALUES (2, 1068, N'/src/Photo/1068-2.jpeg')
INSERT [dbo].[Photo] ([Id], [ObjectId], [Photo]) VALUES (3, 1068, N'/src/Photo/1068-3.jpeg')
GO
INSERT [dbo].[Positions] ([id], [name]) VALUES (0, N'CEO')
INSERT [dbo].[Positions] ([id], [name]) VALUES (1, N'Administrator')
INSERT [dbo].[Positions] ([id], [name]) VALUES (2, N'Manager')
GO
SET IDENTITY_INSERT [dbo].[Review] ON 

INSERT [dbo].[Review] ([Id], [AuthorFirstName], [AuthorLastName], [Text], [Mark], [JobTitle], [CreateAt], [Archive]) VALUES (1, N'Roman', N'Iarkov', N'Мой отзыв для теста', 5, N'CEO', CAST(N'2025-06-16' AS Date), 1)
INSERT [dbo].[Review] ([Id], [AuthorFirstName], [AuthorLastName], [Text], [Mark], [JobTitle], [CreateAt], [Archive]) VALUES (2, N'Вера', N'Яркова', N'Это хорошая компания', 4, N'Преподаватель', CAST(N'2025-06-24' AS Date), 1)
INSERT [dbo].[Review] ([Id], [AuthorFirstName], [AuthorLastName], [Text], [Mark], [JobTitle], [CreateAt], [Archive]) VALUES (3, N'Олег', N'Дедов', N'Новый отзыв для теста', 5, N'Курьер', CAST(N'2025-06-26' AS Date), 1)
SET IDENTITY_INSERT [dbo].[Review] OFF
GO
INSERT [dbo].[TypeCommercialObject] ([id], [name]) VALUES (0, N'Офис')
INSERT [dbo].[TypeCommercialObject] ([id], [name]) VALUES (1, N'Склад')
INSERT [dbo].[TypeCommercialObject] ([id], [name]) VALUES (2, N'Торговая площадь')
GO
INSERT [dbo].[TypeObjects] ([id], [name]) VALUES (0, N'Квартира')
INSERT [dbo].[TypeObjects] ([id], [name]) VALUES (1, N'Частный дом')
INSERT [dbo].[TypeObjects] ([id], [name]) VALUES (2, N'Земельный участок')
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [LoginName], [Password], [FirstName], [LastName], [Email], [Possition], [Archive]) VALUES (1, N'admin', N'admin', N'Roman', N'Iarkov', N'roman@gmail.com', 1, 1)
INSERT [dbo].[Users] ([UserID], [LoginName], [Password], [FirstName], [LastName], [Email], [Possition], [Archive]) VALUES (3, N'fedor', N'123', N'Fedor', N'Mordovin', N'fedor@mail.com', 2, 1)
INSERT [dbo].[Users] ([UserID], [LoginName], [Password], [FirstName], [LastName], [Email], [Possition], [Archive]) VALUES (4, N'Oleg', N'456', N'Oleg', N'Dedov', N'Dedov@mail.com', 2, 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_Apartments]    Script Date: 22.09.2025 12:57:47 ******/
CREATE NONCLUSTERED INDEX [IX_Apartments] ON [dbo].[Apartments]
(
	[IdObject] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Review] ADD  DEFAULT (getdate()) FOR [CreateAt]
GO
ALTER TABLE [dbo].[Review] ADD  DEFAULT ((1)) FOR [Archive]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_Archive] FOREIGN KEY([Archive])
REFERENCES [dbo].[Archive] ([Status])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_Archive]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_Client] FOREIGN KEY([ClientId])
REFERENCES [dbo].[Client] ([Id])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_Client]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_Manager] FOREIGN KEY([ManagerId])
REFERENCES [dbo].[Manager] ([Id])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_Manager]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_Objects] FOREIGN KEY([ObjectId])
REFERENCES [dbo].[Objects] ([Id])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_Objects]
GO
ALTER TABLE [dbo].[Client]  WITH CHECK ADD  CONSTRAINT [FK_Client_Archive] FOREIGN KEY([Archive])
REFERENCES [dbo].[Archive] ([Status])
GO
ALTER TABLE [dbo].[Client] CHECK CONSTRAINT [FK_Client_Archive]
GO
ALTER TABLE [dbo].[Client]  WITH CHECK ADD  CONSTRAINT [FK_Client_Manager] FOREIGN KEY([Manager])
REFERENCES [dbo].[Manager] ([Id])
GO
ALTER TABLE [dbo].[Client] CHECK CONSTRAINT [FK_Client_Manager]
GO
ALTER TABLE [dbo].[CommercialRealEstates]  WITH CHECK ADD  CONSTRAINT [FK_CommercialRealEstates_CommercialRealEstates] FOREIGN KEY([CommercialObjectType])
REFERENCES [dbo].[TypeCommercialObject] ([id])
GO
ALTER TABLE [dbo].[CommercialRealEstates] CHECK CONSTRAINT [FK_CommercialRealEstates_CommercialRealEstates]
GO
ALTER TABLE [dbo].[CommercialRealEstates]  WITH CHECK ADD  CONSTRAINT [FK_CommercialRealEstates_Objects] FOREIGN KEY([IdObjects])
REFERENCES [dbo].[Objects] ([Id])
GO
ALTER TABLE [dbo].[CommercialRealEstates] CHECK CONSTRAINT [FK_CommercialRealEstates_Objects]
GO
ALTER TABLE [dbo].[Dacha]  WITH CHECK ADD  CONSTRAINT [FK_Dacha_Objects] FOREIGN KEY([IdObjects])
REFERENCES [dbo].[Objects] ([Id])
GO
ALTER TABLE [dbo].[Dacha] CHECK CONSTRAINT [FK_Dacha_Objects]
GO
ALTER TABLE [dbo].[Garage]  WITH CHECK ADD  CONSTRAINT [FK_Garage_Objects] FOREIGN KEY([IdObjects])
REFERENCES [dbo].[Objects] ([Id])
GO
ALTER TABLE [dbo].[Garage] CHECK CONSTRAINT [FK_Garage_Objects]
GO
ALTER TABLE [dbo].[House]  WITH CHECK ADD  CONSTRAINT [FK_House_Objects] FOREIGN KEY([IdObject])
REFERENCES [dbo].[Objects] ([Id])
GO
ALTER TABLE [dbo].[House] CHECK CONSTRAINT [FK_House_Objects]
GO
ALTER TABLE [dbo].[Land]  WITH CHECK ADD  CONSTRAINT [FK_Land_Objects] FOREIGN KEY([IdObjects])
REFERENCES [dbo].[Objects] ([Id])
GO
ALTER TABLE [dbo].[Land] CHECK CONSTRAINT [FK_Land_Objects]
GO
ALTER TABLE [dbo].[Manager]  WITH CHECK ADD  CONSTRAINT [FK_Manager_Archive] FOREIGN KEY([Archive])
REFERENCES [dbo].[Archive] ([Status])
GO
ALTER TABLE [dbo].[Manager] CHECK CONSTRAINT [FK_Manager_Archive]
GO
ALTER TABLE [dbo].[Manager]  WITH CHECK ADD  CONSTRAINT [FK_Manager_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Manager] CHECK CONSTRAINT [FK_Manager_Users]
GO
ALTER TABLE [dbo].[Objects]  WITH CHECK ADD  CONSTRAINT [FK_Objects_Archive] FOREIGN KEY([Archive])
REFERENCES [dbo].[Archive] ([Status])
GO
ALTER TABLE [dbo].[Objects] CHECK CONSTRAINT [FK_Objects_Archive]
GO
ALTER TABLE [dbo].[Objects]  WITH CHECK ADD  CONSTRAINT [FK_Objects_Client] FOREIGN KEY([IdClient])
REFERENCES [dbo].[Client] ([Id])
GO
ALTER TABLE [dbo].[Objects] CHECK CONSTRAINT [FK_Objects_Client]
GO
ALTER TABLE [dbo].[Objects]  WITH CHECK ADD  CONSTRAINT [FK_Objects_Manager] FOREIGN KEY([ManagerId])
REFERENCES [dbo].[Manager] ([Id])
GO
ALTER TABLE [dbo].[Objects] CHECK CONSTRAINT [FK_Objects_Manager]
GO
ALTER TABLE [dbo].[Objects]  WITH CHECK ADD  CONSTRAINT [FK_Objects_Offer] FOREIGN KEY([TypeOffer])
REFERENCES [dbo].[Offer] ([id])
GO
ALTER TABLE [dbo].[Objects] CHECK CONSTRAINT [FK_Objects_Offer]
GO
ALTER TABLE [dbo].[Objects]  WITH CHECK ADD  CONSTRAINT [FK_Objects_TypeObjects] FOREIGN KEY([TypeObjects])
REFERENCES [dbo].[TypeObjects] ([id])
GO
ALTER TABLE [dbo].[Objects] CHECK CONSTRAINT [FK_Objects_TypeObjects]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK_Review_Archive] FOREIGN KEY([Archive])
REFERENCES [dbo].[Archive] ([Status])
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK_Review_Archive]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Archive] FOREIGN KEY([Archive])
REFERENCES [dbo].[Archive] ([Status])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Archive]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Positions] FOREIGN KEY([Possition])
REFERENCES [dbo].[Positions] ([id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Positions]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD CHECK  (([Mark]>(0) AND [Mark]<(6)))
GO
/****** Object:  StoredProcedure [dbo].[create_new_obj]    Script Date: 22.09.2025 12:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[create_new_obj]   
 @man as int, @typeObj as int,   
 @typeOffer as int, @client as int, @idObj as int output   
 as   
	begin   
	insert into [Objects] (ManagerId,TypeObjects,Archive,TypeOffer,IdClient)  
	values (@man,@typeObj,1,@typeOffer,@client)	
	set @idObj=(select top 1 [Objects].id  from [Objects] order by [Objects].Id desc) 
		return
	end 
--declare @res as int
--exec create_new_obj 2,2,2,2,@res;
----set @res=(select top 1 [Objects].id  from [Objects] order by [Objects].Id desc)    
--select @res;
GO
/****** Object:  StoredProcedure [dbo].[create_new_object_apartment]    Script Date: 22.09.2025 12:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[create_new_object_apartment]
--для создание объекта 
	@manager_lastname as nvarchar(100),
	@type_object as int,
	@type_offer as int,
	@client_id as int,
	--для создание карточки земли
	@citi as nvarchar(50),
	@street as nvarchar(50),
	@home as int,
	@apart as int,
	@floor as int,
	@areaHouse as int,
	@rooms as int,
	@price as money,
	@brandNew as bit,
	@title as nvarchar(150),
	@p_1 as nvarchar(300),
	@p_2 as nvarchar(300),
	@p_3 as nvarchar(300),
	@photo_id as int output
AS
BEGIN	
	begin TRANSACTION;
	SET NOCOUNT ON;

	declare @id_obj as int, @manager_id as int 	
	exec get_manager_id_by_lastname @manager_lastname, @id_man=@manager_id output 

	exec create_new_obj 
	@man = @manager_id,
	@typeObj = @type_object,
	@typeOffer = @type_offer,
	@client = @client_id,
	@idObj = @id_obj OUTPUT

	exec set_description
	@objId=@id_obj,
	@title=@title,
	@p_1 =@p_1,
	@p_2 =@p_2,
	@p_3 =@p_3
	begin if not exists 
		(select * from [Apartments]
		where Apartments.Citi=@citi and Apartments.Street=@street and Apartments.House=@home and Apartments.Apartment=@apart) 
		begin 
		insert into Apartments (IdObject,Citi,Street,House,Apartment,
		[Floor],AreaHouse,Rooms,Price,BrandNew,SrcPhoto)
		values (@id_obj,@citi,@street,@home,@apart,@floor,@areaHouse,@rooms,@price,@brandNew,'/src/Photo/'+CAST(@id_obj as nvarchar)+'/') 
		end
	end
commit;
	set @photo_id=@id_obj return
END
GO
/****** Object:  StoredProcedure [dbo].[create_new_object_commercial]    Script Date: 22.09.2025 12:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[create_new_object_commercial] 
	--для создание объекта 
	@manager_lastname as nvarchar(100),
	@type_object as int,
	@type_offer as int,
	@client_id as int,
	--для создание карточки земли
	@citi as nvarchar(50),
	@street as nvarchar(50),
	@home as int,
	@commercialObjectType as int,	
	@price as money,
	@area as int,
	@numberOffice as int,
	@description as text
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	begin TRANSACTION;
	SET NOCOUNT ON;
	declare @id_obj as int, @manager_id as int 	
	exec get_manager_id_by_lastname @manager_lastname, @id_man=@manager_id output 

	exec create_new_obj 
	@man = @manager_id,
	@typeObj = @type_object,
	@typeOffer = @type_offer,
	@client = @client_id,
	@idObj = @id_obj OUTPUT

	begin if not exists 
		(select * from CommercialRealEstates
		where Citi=@citi and Street=@street and House=@home ) 
		begin 
		insert into CommercialRealEstates (IdObjects,Citi,Street,House,CommercialObjectType,
		Price,Area,NumberOffice, [Description])
		values (@id_obj,@citi,@street,@home,@commercialObjectType,@price,@area,@numberOffice,@description) 
		end
	end
	commit;
END
GO
/****** Object:  StoredProcedure [dbo].[create_new_object_dacha]    Script Date: 22.09.2025 12:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[create_new_object_dacha] 
	--для создание объекта 
	@manager_lastname as nvarchar(100),
	@type_object as int,
	@type_offer as int,
	@client_id as int,
	--для создание карточки земли
	@citi as nvarchar(50),
	@street as nvarchar(50),
	@home as int,	
	@price as money,
	@areaHouse as int,
	@floor as int,
	@areaPlot as int,
	@description as text
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	begin TRANSACTION;
	SET NOCOUNT ON;
	declare @id_obj as int, @manager_id as int 	
	exec get_manager_id_by_lastname @manager_lastname, @id_man=@manager_id output 

	exec create_new_obj 
	@man = @manager_id,
	@typeObj = @type_object,
	@typeOffer = @type_offer,
	@client = @client_id,
	@idObj = @id_obj OUTPUT

	begin if not exists 
		(select * from Dacha
		where Citi=@citi and Street=@street and House=@home ) 
		begin 
		insert into Dacha(IdObjects,Citi,Street,House,
		Price,AreaHouse,[Floor], AreaPlot, [Description])
		values (@id_obj,@citi,@street,@home,@price,@areaHouse,@floor,@areaPlot,@description) 
		end
	end
	commit;
END
GO
/****** Object:  StoredProcedure [dbo].[create_new_object_garage]    Script Date: 22.09.2025 12:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[create_new_object_garage] 
	--для создание объекта 
	@manager_lastname as nvarchar(100),
	@type_object as int,
	@type_offer as int,
	@client_id as int,
	--для создание карточки земли
	@citi as nvarchar(50),
	@street as nvarchar(50),
	@home as int,	
	@price as money,
	@area as int,
	@description as text
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	begin TRANSACTION;
	SET NOCOUNT ON;
	declare @id_obj as int, @manager_id as int 	
	exec get_manager_id_by_lastname @manager_lastname, @id_man=@manager_id output 

	exec create_new_obj 
	@man = @manager_id,
	@typeObj = @type_object,
	@typeOffer = @type_offer,
	@client = @client_id,
	@idObj = @id_obj OUTPUT

	begin if not exists 
		(select * from Garage
		where Citi=@citi and Street=@street and House=@home ) 
		begin 
		insert into Garage (IdObjects,Citi,Street,House,
		Price,Area, [Description])
		values (@id_obj,@citi,@street,@home,@price,@area,@description) 
		end
	end
	commit;
END
GO
/****** Object:  StoredProcedure [dbo].[create_new_object_house]    Script Date: 22.09.2025 12:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[create_new_object_house]
--для создание объекта 
	@manager_lastname as nvarchar(100),
	@type_object as int,
	@type_offer as int,
	@client_id as int,
	--для создание карточки земли
	@citi as nvarchar(50),
	@street as nvarchar(50),
	@home as int,
	@areaHouse as int,
	@areaPlot as int,
	@rooms as int,
	@floor as int,
	@price as money,
	@description as text
AS
BEGIN	
	SET NOCOUNT ON;
	begin TRANSACTION;
	declare @id_obj as int, @manager_id as int 	
	exec get_manager_id_by_lastname @manager_lastname, @id_man=@manager_id output 

	exec create_new_obj 
	@man = @manager_id,
	@typeObj = @type_object,
	@typeOffer = @type_offer,
	@client = @client_id,
	@idObj = @id_obj OUTPUT

	begin if not exists 
		(select * from House
		where House.Citi=@citi and House.Street=@street and House.House=@home ) 
		begin 
		insert into House (IdObject,Citi,Street,House,AreaHouse,
		AreaPlot,Rooms,[Floor],Price,[Description])
		values (@id_obj,@citi,@street,@home,@areaHouse,@areaPlot,@rooms,@floor,@price,@description) 
		end
	end
 commit;
END
GO
/****** Object:  StoredProcedure [dbo].[create_new_object_house_by_manager]    Script Date: 22.09.2025 12:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[create_new_object_house_by_manager]
--для создание объекта 
	@manager_lastname as nvarchar(100),
	@type_object as int,
	@type_offer as int,
	@client_id as int,
	--для создание карточки земли
	@citi as nvarchar(50),
	@street as nvarchar(50),
	@home as int,
	@areaHouse as int,
	@areaPlot as int,
	@rooms as int,
	@floor as int,
	@price as money,
	@description as text
AS
BEGIN	
	SET NOCOUNT ON;
	begin TRANSACTION;
	declare @id_obj as int, @manager_id as int 	
	exec get_manager_id_by_lastname @manager_lastname, @id_man=@manager_id output 

	exec create_new_obj 
	@man = @manager_id,
	@typeObj = @type_object,
	@typeOffer = @type_offer,
	@client = @client_id,
	@idObj = @id_obj OUTPUT

	begin if not exists 
		(select * from House
		where House.Citi=@citi and House.Street=@street and House.House=@home ) 
		begin 
		insert into House (IdObject,Citi,Street,House,AreaHouse,
		AreaPlot,Rooms,[Floor],Price,[Description])
		values (@id_obj,@citi,@street,@home,@areaHouse,@areaPlot,@rooms,@floor,@price,@description) 
		end
	end
 commit;
END
GO
/****** Object:  StoredProcedure [dbo].[create_new_object_land]    Script Date: 22.09.2025 12:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[create_new_object_land] 
--для создание объекта 
@manager_lastname as nvarchar(100),
	@type_object as int,
	@type_offer as int,
	@client_id as int,
	--для создание карточки земли
	@citi as nvarchar(50),
	@street as nvarchar(50),
	@home as int,
	@coord as nvarchar(50),
	@categore nvarchar(50),
	@price as money,
	@area as int,
	@description as text
AS
BEGIN	
begin TRANSACTION;
	SET NOCOUNT ON;
	declare @id_obj as int, @manager_id as int 	
	exec get_manager_id_by_lastname @manager_lastname, @id_man=@manager_id output 

	exec create_new_obj 
	@man = @manager_id,
	@typeObj = @type_object,
	@typeOffer = @type_offer,
	@client = @client_id,
	@idObj = @id_obj OUTPUT

	begin if not exists 
		(select * from [Land]
		where Citi=@citi and Street=@street and House=@home ) 
		begin 
		insert into Land (IdObjects,Citi,Street,House,Coordinates,
		LandCategory,Price,Area,[Description])
		values (@id_obj,@citi,@street,@home,@coord,@categore,@price,@area,@description) 
		end
	end
 commit;
END
GO
/****** Object:  StoredProcedure [dbo].[get_all_manager]    Script Date: 22.09.2025 12:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[get_all_manager] 
	-- Add the parameters for the stored procedure here
	@archive as int = 1
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT Id as [№],FirstName as [Имя],Manager.LastName as [Фамилия],
	Photo as [Фото]
	from Manager 
	where Manager.Archive=@archive
END
GO
/****** Object:  StoredProcedure [dbo].[get_clients_all]    Script Date: 22.09.2025 12:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[get_clients_all]
@archive as int
AS
BEGIN	
	SET NOCOUNT ON;
    select Client.Id as [№],
	Client.FirstName as[Имя], 
	Client.LastName as [Фамилия],
	Manager.LastName as [Менеджер], 
	Client.TelNumber as [Телефон] 
	from Client 
	left join Manager on Client.Manager=Manager.Id 
	where  Client.Archive=@archive
END
GO
/****** Object:  StoredProcedure [dbo].[get_clients_by_manager]    Script Date: 22.09.2025 12:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[get_clients_by_manager]
@manager_last_name as nvarchar(100),
@archive as int
AS
BEGIN	
	SET NOCOUNT ON;
    select Client.Id as [№],
	Client.FirstName as[Имя], 
	Client.LastName as [Фамилия],
	Manager.LastName as [Менеджер], 
	Client.TelNumber as [Телефон] 
	from Client 
	left join Manager on Client.Manager=Manager.Id 
	where Manager.LastName=@manager_last_name
	and Client.Archive=@archive
END
GO
/****** Object:  StoredProcedure [dbo].[get_manager_by_id]    Script Date: 22.09.2025 12:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[get_manager_by_id]
	@archive int =1,
	@manId int 
AS
	SELECT * from Manager where Manager.Id=@manId and Manager.Archive=@archive
GO
/****** Object:  StoredProcedure [dbo].[get_manager_id_by_lastname]    Script Date: 22.09.2025 12:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[get_manager_id_by_lastname]   
 @man as nvarchar(100), @id_man as int output   
 as   
	begin 	
	set @id_man=(select top 1 Manager.Id  from Manager where Manager.LastName=@man order by Manager.Id desc) 
		return
	end 
--declare @res as int
--exec create_new_obj 2,2,2,2,@res;
----set @res=(select top 1 [Objects].id  from [Objects] order by [Objects].Id desc)    
--select @res;
GO
/****** Object:  StoredProcedure [dbo].[get_objects_all]    Script Date: 22.09.2025 12:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[get_objects_all]
@archive as int
AS
BEGIN	
	SET NOCOUNT ON;
	select [Objects].Id as [№],
	Manager.LastName as [Менеджер], 
	TypeObjects.[name] as [Тип объекта], 
	Offer.[name] as [Тип сделки]
	from Manager
	left join [Objects] on [Objects].ManagerId=Manager.Id 
	left join TypeObjects on [Objects].TypeObjects=TypeObjects.id 
	left join Offer on [Objects].TypeOffer=Offer.id
	where  [Objects].Archive=@archive    
END
GO
/****** Object:  StoredProcedure [dbo].[get_objects_apartments_all]    Script Date: 22.09.2025 12:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[get_objects_apartments_all]
@archive as int,
@offer as int
AS
BEGIN	
	SET NOCOUNT ON;
	select [Apartments].IdObject as [ID],
	Manager.LastName as [Манеджер],
	Apartments.Citi as [Город], 
	[Apartments].[Street] as [Улица],
	[Apartments].House as [Дом],[Apartments].Apartment as [Квартира],
	[Apartments].[Floor] as [Этаж], [Apartments].AreaHouse as [Площадь (М)], 
	Apartments.Rooms as [Кол-во комнат], Apartments.Price as [Цена]  
	from Apartments 
	left join [Objects] on Apartments.IdObject=[Objects].Id 
	left join Manager on [Objects].ManagerId=Manager.Id
	where [Objects].Archive=@archive and [Objects].TypeOffer=@offer
END
GO
/****** Object:  StoredProcedure [dbo].[get_objects_apartments_all_by_view]    Script Date: 22.09.2025 12:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[get_objects_apartments_all_by_view]
@archive as int,
@offer as int,
@new as bit
AS
BEGIN	
	SET NOCOUNT ON;
	select [Apartments].IdObject as [ID],	
	[Objects].ManagerId as [Агент],
	dbo.[TypeObjects].[name] as [Тип объекта],
	dbo.Offer.[name] as [Тип продажи],
	Apartments.Citi as [Город], 
	[Apartments].[Street] as [Улица],
	[Apartments].House as [Дом],[Apartments].Apartment as [Квартира],
	[Apartments].[Floor] as [Этаж], [Apartments].AreaHouse as [Площадь (М)], 
	Apartments.Rooms as [Кол-во комнат], Apartments.Price as [Цена],Apartments.SrcPhoto as [Фото] 
	from Apartments 
	left join [Objects] on Apartments.IdObject=[Objects].Id 
	left join [TypeObjects] on dbo.Objects.TypeObjects=dbo.[TypeObjects].id
	left join [Offer] on dbo.Objects.TypeOffer=dbo.Offer.id	
	where [Objects].Archive=1 and [Objects].TypeOffer=1 and Apartments.BrandNew=@new
END
GO
/****** Object:  StoredProcedure [dbo].[get_objects_apartments_by_id_by_view]    Script Date: 22.09.2025 12:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[get_objects_apartments_by_id_by_view]
@archive as int,
@id as int
AS
BEGIN	
	SET NOCOUNT ON;
	select [Apartments].IdObject as [ID],	
	[Objects].ManagerId as [Агент],
	dbo.[TypeObjects].[name] as [Тип объекта],
	dbo.Offer.[name] as [Тип продажи],
	Apartments.Citi as [Город], 
	[Apartments].[Street] as [Улица],
	[Apartments].House as [Дом],[Apartments].Apartment as [Квартира],
	[Apartments].[Floor] as [Этаж], [Apartments].AreaHouse as [Площадь (М)], 
	Apartments.Rooms as [Кол-во комнат], Apartments.Price as [Цена] ,
	dbo.[Description].Title as [Заголовок],
	dbo.[Description].Paragraph_1 as [p1],
	dbo.[Description].Paragraph_2 as [p2],
	dbo.[Description].Paragraph_3 as [p3],
	[Apartments].SrcPhoto as [Фото]
	from Apartments 
	left join [Objects] on Apartments.IdObject=[Objects].Id 
	left join [TypeObjects] on dbo.Objects.TypeObjects=dbo.[TypeObjects].id
	left join [Offer] on dbo.Objects.TypeOffer=dbo.Offer.id
	left join dbo.[Description] on dbo.Objects.Id=dbo.[Description].ObjectId
	where [Objects].Archive=1 and [Objects].Id=@id
END
GO
/****** Object:  StoredProcedure [dbo].[get_objects_apartments_by_manager]    Script Date: 22.09.2025 12:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[get_objects_apartments_by_manager]
@archive as int,
@manager_last_name as nvarchar(100),
@offer as int
AS
BEGIN	
	SET NOCOUNT ON;
	declare @manId as int
	declare @manLN as nvarchar(100)
	set @manLN=@manager_last_name
	exec get_manager_id_by_lastname @manLN, @manId out;

	select [Apartments].IdObject as [ID],
	Apartments.Citi as [Город], 
	[Apartments].[Street] as [Улица],
	[Apartments].House as [Дом],[Apartments].Apartment as [Квартира],
	[Apartments].[Floor] as [Этаж], [Apartments].AreaHouse as [Площадь (М)], 
	Apartments.Rooms as [Кол-во комнат], Apartments.Price as [Цена]  
	from Apartments 
	left join [Objects] on Apartments.IdObject=[Objects].Id 
	left join Manager on [Objects].ManagerId=Manager.Id
	where Manager.LastName=@manager_last_name and [Objects].ManagerId=@manId and 
	[Objects].Archive=@archive and [Objects].TypeOffer=@offer
END
GO
/****** Object:  StoredProcedure [dbo].[get_objects_apartments_top_by_view]    Script Date: 22.09.2025 12:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[get_objects_apartments_top_by_view]
@archive as int,
@offer as int
AS
BEGIN	
	SET NOCOUNT ON;
	select top(3) [Apartments].IdObject as [ID],
	Apartments.Citi as [Город], 
	[Apartments].[Street] as [Улица],
	[Apartments].House as [Дом],
	Apartments.Price as [Цена],
	Apartments.SrcPhoto as [Папка с фото]
	from Apartments 
	left join [Objects] on Apartments.IdObject=[Objects].Id 		
	where [Objects].Archive=1 and [Objects].TypeOffer=1
END
GO
/****** Object:  StoredProcedure [dbo].[get_objects_by_id_apartments]    Script Date: 22.09.2025 12:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[get_objects_by_id_apartments]
@id as int,
@archive as int
AS
BEGIN	
	SET NOCOUNT ON;
	select  [Apartments].IdObject as [ID],
	Manager.LastName + ' '+ Manager.FirstName as [Манеджер],
	Client.LastName + ' ' + Client.FirstName as [Клиент] ,
	Apartments.Citi as [Город], 
	[Apartments].[Street] as [Улица],
	[Apartments].House as [Дом],
	Apartments.Price as [Цена],
	Apartments.[Description] as [Описание],
	
	[Apartments].Apartment as [Квартира],
	[Apartments].[Floor] as [Этаж], 
	[Apartments].AreaHouse as [Площадь (М)], 
	Apartments.Rooms as [Кол-во комнат]
	from Apartments 
	left join [Objects] on Apartments.IdObject=[Objects].Id 
	left join Manager on [Objects].ManagerId=Manager.Id
	left join Client on [Objects].IdClient=Client.Id
	where [Objects].Archive=@archive and Apartments.IdObject=@id;
END
GO
/****** Object:  StoredProcedure [dbo].[get_objects_by_id_commercial]    Script Date: 22.09.2025 12:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[get_objects_by_id_commercial]
@id as int,
@archive as int
AS
BEGIN	
	SET NOCOUNT ON;
	select  CommercialRealEstates.IdObjects as [ID],
	Manager.LastName + ' '+ Manager.FirstName as [Манеджер],
	Client.LastName + ' ' + Client.FirstName as [Клиент] ,
	CommercialRealEstates.Citi as [Город], 
	CommercialRealEstates.[Street] as [Улица],
	CommercialRealEstates.House as [Дом],
	CommercialRealEstates.Price as [Цена],
	CommercialRealEstates.[Description] as [Описание],
	
	CommercialRealEstates.NumberOffice as [Номер],
	CommercialRealEstates.CommercialObjectType as [Тип коммерческой недвижимости],
	CommercialRealEstates.Area as [Площадь (м)]
	from CommercialRealEstates 
	left join [Objects] on CommercialRealEstates.IdObjects=[Objects].Id 
	left join TypeCommercialObject on CommercialRealEstates.CommercialObjectType=TypeCommercialObject.id
	left join Manager on [Objects].ManagerId=Manager.Id
	left join Client on [Objects].IdClient=Client.Id
	where [Objects].Archive=@archive and CommercialRealEstates.IdObjects=@id;
END
GO
/****** Object:  StoredProcedure [dbo].[get_objects_by_id_dacha]    Script Date: 22.09.2025 12:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create PROCEDURE [dbo].[get_objects_by_id_dacha]
@id as int,
@archive as int
AS
BEGIN	
	SET NOCOUNT ON;
	select  Dacha.IdObjects as [ID],
	Manager.LastName + ' '+ Manager.FirstName as [Манеджер],
	Client.LastName + ' ' + Client.FirstName as [Клиент] ,
	Dacha.Citi as [Город], 
	Dacha.[Street] as [Улица],
	Dacha.House as [Дом],
	Dacha.Price as [Цена],
	Dacha.[Description] as [Описание],

	Dacha.AreaHouse as [Площадь дома (м)],
	Dacha.AreaPlot as [Площадь участка (м)],
	Dacha.[Floor] as [Кол-во этажей]
	from Dacha 
	left join [Objects] on Dacha.IdObjects=[Objects].Id 
	left join Manager on [Objects].ManagerId=Manager.Id
	left join Client on [Objects].IdClient=Client.Id
	where [Objects].Archive=@archive and Dacha.IdObjects=@id;
END
GO
/****** Object:  StoredProcedure [dbo].[get_objects_by_id_garage]    Script Date: 22.09.2025 12:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create PROCEDURE [dbo].[get_objects_by_id_garage]
@id as int,
@archive as int
AS
BEGIN	
	SET NOCOUNT ON;
	select  Garage.IdObjects as [ID],
	Manager.LastName + ' '+ Manager.FirstName as [Манеджер],
	Client.LastName + ' ' + Client.FirstName as [Клиент] ,
	Garage.Citi as [Город], 
	Garage.[Street] as [Улица],
	Garage.House as [Дом],
	Garage.Price as [Цена],
	Garage.[Description] as [Описание],

	Garage.Area as [Площадь (м)]
	from Garage 
	left join [Objects] on Garage.IdObjects=[Objects].Id 
	left join Manager on [Objects].ManagerId=Manager.Id
	left join Client on [Objects].IdClient=Client.Id
	where [Objects].Archive=@archive and Garage.IdObjects=@id;
END
GO
/****** Object:  StoredProcedure [dbo].[get_objects_by_id_house]    Script Date: 22.09.2025 12:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[get_objects_by_id_house]
@id as int,
@archive as int
AS
BEGIN	
	SET NOCOUNT ON;
	select  House.IdObject as [ID],
	Manager.LastName + ' '+ Manager.FirstName as [Манеджер],
	Client.LastName + ' ' + Client.FirstName as [Клиент] ,
	House.Citi as [Город], 
	[House].[Street] as [Улица],
	[House].House as [Дом],
	House.Price as [Цена],
	House.[Description] as [Описание],
	
	House.AreaHouse as [Площадь дома (М)],
	House.AreaPlot as [Площадь участка (М)],
	House.[Floor] as [Этаж], 	 
	House.Rooms as [Кол-во комнат]
	from House 
	left join [Objects] on House.IdObject=[Objects].Id 
	left join Manager on [Objects].ManagerId=Manager.Id
	left join Client on [Objects].IdClient=Client.Id
	where [Objects].Archive=@archive and House.IdObject=@id;
END
GO
/****** Object:  StoredProcedure [dbo].[get_objects_by_id_land]    Script Date: 22.09.2025 12:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[get_objects_by_id_land]
@id as int,
@archive as int
AS
BEGIN	
	SET NOCOUNT ON;
	select  Land.IdObjects as [ID],
	Manager.LastName + ' '+ Manager.FirstName as [Манеджер],
	Client.LastName + ' ' + Client.FirstName as [Клиент] ,
	Land.Citi as [Город], 
	[Land].[Street] as [Улица],
	[Land].House as [Дом],
	Land.Price as [Цена],
	Land.[Description] as [Описание],
	
	Land.Coordinates as [Координаты],
	Land.LandCategory as [Категория земель],
	Land.Area as [Площадь (м)]
	from Land 
	left join [Objects] on Land.IdObjects=[Objects].Id 
	left join Manager on [Objects].ManagerId=Manager.Id
	left join Client on [Objects].IdClient=Client.Id
	where [Objects].Archive=@archive and Land.IdObjects=@id;
END
GO
/****** Object:  StoredProcedure [dbo].[get_objects_by_manager]    Script Date: 22.09.2025 12:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[get_objects_by_manager]
@manager_last_name as nvarchar(100),
@archive as int

AS
BEGIN	
	SET NOCOUNT ON;
	select [Objects].Id as [№],
	Manager.LastName as [Менеджер], 
	TypeObjects.[name] as [Тип объекта], 
	Offer.[name] as [Тип сделки]
	from Manager
	left join [Objects] on [Objects].ManagerId=Manager.Id 
	left join TypeObjects on [Objects].TypeObjects=TypeObjects.id 
	left join Offer on [Objects].TypeOffer=Offer.id
	where   Manager.LastName=@manager_last_name
	and [Objects].Archive=@archive
    
END
GO
/****** Object:  StoredProcedure [dbo].[get_objects_commercial_all]    Script Date: 22.09.2025 12:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROCEDURE [dbo].[get_objects_commercial_all]
@archive as int,
--@manager_last_name as nvarchar(100),
@offer as int
AS
BEGIN	
	SET NOCOUNT ON;
	--declare @manId as int
	--set @manId = [ComopanyProgect].dbo.get_managerId_by_lastName(@manager_last_name);

	select [CommercialRealEstates].IdObjects as [ID],
	Manager.LastName as [Манеджер], 
	CommercialRealEstates.Citi as [Город], [CommercialRealEstates].[Street] as [Улица],
	[CommercialRealEstates].House as [Дом], 
	[TypeCommercialObject].name as [Тип недвижимости],
	CommercialRealEstates.Area as [Площадь (м)], CommercialRealEstates.Price as [Цена] 
	from CommercialRealEstates 
	left join TypeCommercialObject on TypeCommercialObject.id=CommercialRealEstates.CommercialObjectType
	left join [Objects] on CommercialRealEstates.IdObjects=[Objects].Id
	left join Manager on [Objects].ManagerId=Manager.Id
	where 
	--Manager.LastName=@manager_last_name and 
	--[Objects].ManagerId=@manId and 
	[Objects].Archive=@archive and 
	[Objects].TypeOffer=@offer
END
GO
/****** Object:  StoredProcedure [dbo].[get_objects_commercial_by_manager]    Script Date: 22.09.2025 12:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[get_objects_commercial_by_manager]
@archive as int,
@manager_last_name as nvarchar(100),
@offer as int
AS
BEGIN	
	SET NOCOUNT ON;
	declare @manId as int
	declare @manLN as nvarchar(100)
	set @manLN=@manager_last_name
	exec get_manager_id_by_lastname @manLN, @manId out;

	select [CommercialRealEstates].IdObjects as [ID],
	--Manager.LastName as [Манеджер], 
	CommercialRealEstates.Citi as [Город], [CommercialRealEstates].[Street] as [Улица],
	[CommercialRealEstates].House as [Дом], 
	[TypeCommercialObject].name as [Тип недвижимости],
	CommercialRealEstates.Area as [Площадь (м)], CommercialRealEstates.Price as [Цена] 
	from CommercialRealEstates 
	left join TypeCommercialObject on TypeCommercialObject.id=CommercialRealEstates.CommercialObjectType
	left join [Objects] on CommercialRealEstates.IdObjects=[Objects].Id
	left join Manager on [Objects].ManagerId=Manager.Id
	where Manager.LastName=@manager_last_name and 
	[Objects].ManagerId=@manId and 
	[Objects].Archive=@archive and 
	[Objects].TypeOffer=@offer
END
GO
/****** Object:  StoredProcedure [dbo].[get_objects_dacha_all]    Script Date: 22.09.2025 12:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROCEDURE [dbo].[get_objects_dacha_all]
@archive as int,
--@manager_last_name as nvarchar(100),
@offer as int
AS
BEGIN	
	SET NOCOUNT ON;
	--declare @manId as int
	--set @manId = [ComopanyProgect].dbo.get_managerId_by_lastName(@manager_last_name);

	select [Dacha].IdObjects as [ID],
	Manager.LastName as [Манеджер], 
	Dacha.Citi as [Город], [Dacha].[Street] as [Улица],
	[Dacha].House as [Дом], 
	Dacha.AreaHouse as [Площадь дома (м)],Dacha.AreaPlot as [Площадь участка (м)],
	Dacha.[Floor] as [Этажность], Dacha.Price as [Цена], Dacha.Description as [Описание]
	from Dacha
	left join [Objects] on Dacha.IdObjects=[Objects].Id
	left join Manager on [Objects].ManagerId=Manager.Id
	where  
	--Manager.LastName=@manager_last_name and 
	--[Objects].ManagerId=@manId and 
	[Objects].Archive=@archive and 
	[Objects].TypeOffer=@offer
END
GO
/****** Object:  StoredProcedure [dbo].[get_objects_dacha_by_manager]    Script Date: 22.09.2025 12:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[get_objects_dacha_by_manager]
@archive as int,
@manager_last_name as nvarchar(100),
@offer as int
AS
BEGIN	
	SET NOCOUNT ON;
	declare @manId as int
	declare @manLN as nvarchar(100)
	set @manLN=@manager_last_name
	exec get_manager_id_by_lastname @manLN, @manId out;

	select [Dacha].IdObjects as [ID],
	--Manager.LastName as [Манеджер], 
	Dacha.Citi as [Город], [Dacha].[Street] as [Улица],
	[Dacha].House as [Дом], 
	Dacha.AreaHouse as [Площадь дома (м)],Dacha.AreaPlot as [Площадь участка (м)],
	Dacha.[Floor] as [Этажность], Dacha.Price as [Цена], Dacha.Description as [Описание]
	from Dacha
	left join [Objects] on Dacha.IdObjects=[Objects].Id
	left join Manager on [Objects].ManagerId=Manager.Id
	where  
	Manager.LastName=@manager_last_name and 
	[Objects].ManagerId=@manId and 
	[Objects].Archive=@archive and 
	[Objects].TypeOffer=@offer
END
GO
/****** Object:  StoredProcedure [dbo].[get_objects_garage_all]    Script Date: 22.09.2025 12:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROCEDURE [dbo].[get_objects_garage_all]
@archive as int,
--@manager_last_name as nvarchar(100),
@offer as int
AS
BEGIN	
	SET NOCOUNT ON;
	--declare @manId as int
	--set @manId = [ComopanyProgect].dbo.get_managerId_by_lastName(@manager_last_name);

	select [Garage].IdObjects as [ID],
	Manager.LastName as [Манеджер], 
	Garage.Citi as [Город], [Garage].[Street] as [Улица],
	[Garage].House as [Дом], 
	Garage.Area as [Площадь (м)], Garage.Price as [Цена], Garage.Description as [Описание]
	from Garage
	left join [Objects] on Garage.IdObjects=[Objects].Id
	left join Manager on [Objects].ManagerId=Manager.Id
	where  
	--Manager.LastName=@manager_last_name and 
	--[Objects].ManagerId=@manId and 
	[Objects].Archive=@archive and 
	[Objects].TypeOffer=@offer
END
GO
/****** Object:  StoredProcedure [dbo].[get_objects_garage_by_manager]    Script Date: 22.09.2025 12:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[get_objects_garage_by_manager]
@archive as int,
@manager_last_name as nvarchar(100),
@offer as int
AS
BEGIN	
	SET NOCOUNT ON;
	declare @manId as int
declare @manLN as nvarchar(100)
	set @manLN=@manager_last_name
	exec get_manager_id_by_lastname @manLN, @manId out;

	select [Garage].IdObjects as [ID],
	--Manager.LastName as [Манеджер], 
	Garage.Citi as [Город], [Garage].[Street] as [Улица],
	[Garage].House as [Дом], 
	Garage.Area as [Площадь (м)], Garage.Price as [Цена], Garage.Description as [Описание]
	from Garage
	left join [Objects] on Garage.IdObjects=[Objects].Id
	left join Manager on [Objects].ManagerId=Manager.Id
	where  
	Manager.LastName=@manager_last_name and 
	[Objects].ManagerId=@manId and 
	[Objects].Archive=@archive and 
	[Objects].TypeOffer=@offer
END
GO
/****** Object:  StoredProcedure [dbo].[get_objects_house_all]    Script Date: 22.09.2025 12:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[get_objects_house_all]
@archive as int,
@offer as int
AS
BEGIN	
	SET NOCOUNT ON;
	select [House].IdObject as [ID],
	Manager.LastName as [Манеджер], 
	House.Citi as [Город], [House].[Street] as [Улица],
	[House].House as [Дом],[House].AreaHouse as [Площадь дома (М)],
	[House].AreaPlot as [Площадь участка (М)],
	[House].Floor as [Этаж],House.Rooms as [Кол-во комнат], House.Price as [Цена]
	from House 
	left join [Objects] on House.IdObject=[Objects].Id 
	left join Manager on [Objects].ManagerId=Manager.Id 	
	where [Objects].Archive=@archive and [Objects].TypeOffer=@offer
END
GO
/****** Object:  StoredProcedure [dbo].[get_objects_house_by_manger]    Script Date: 22.09.2025 12:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[get_objects_house_by_manger]
@archive as int,
@manager_last_name as nvarchar(100),
@offer as int
AS
BEGIN	
	SET NOCOUNT ON;
	declare @manId as int
	declare @manLN as nvarchar(100)
	set @manLN=@manager_last_name
	exec get_manager_id_by_lastname @manLN, @manId out;

	select [House].IdObject as [ID],
	--Manager.LastName as [Манеджер], 
	House.Citi as [Город], [House].[Street] as [Улица],
	[House].House as [Дом],[House].AreaHouse as [Площадь дома (М)],
	[House].AreaPlot as [Площадь участка (М)],
	[House].[Floor] as [Этаж],House.Rooms as [Кол-во комнат], House.Price as [Цена]
	from House 
	left join [Objects] on House.IdObject=[Objects].Id 
	left join Manager on [Objects].ManagerId=Manager.Id 	
	where Manager.LastName=@manager_last_name and [Objects].ManagerId=@manId
	and [Objects].Archive=@archive and [Objects].TypeOffer=@offer
END
GO
/****** Object:  StoredProcedure [dbo].[get_objects_land_all]    Script Date: 22.09.2025 12:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROCEDURE [dbo].[get_objects_land_all]
@archive as int,
@offer as int
AS
BEGIN	
	SET NOCOUNT ON;

	select [Land].IdObjects as [ID],
	Manager.LastName as [Манеджер], 
	Land.Citi as [Город], [Land].[Street] as [Улица],
	[Land].House as [Дом], [Land].Coordinates as [Координаты],
	Land.LandCategory as [Категория земель],
	Land.Area as [Площадь (м)], Land.Price as [Цена] 
	from Land 
	left join [Objects] on Land.IdObjects=[Objects].Id
	left join Manager on [Objects].ManagerId=Manager.Id 		
	where [Objects].Archive=@archive and [Objects].TypeOffer=@offer
END
GO
/****** Object:  StoredProcedure [dbo].[get_objects_land_by_manager]    Script Date: 22.09.2025 12:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[get_objects_land_by_manager]
@archive as int,
@manager_last_name as nvarchar(100),
@offer as int
AS
BEGIN	
	SET NOCOUNT ON;
	declare @manId as int
	declare @manLN as nvarchar(100)
	set @manLN=@manager_last_name
	exec get_manager_id_by_lastname @manLN, @manId out;

	select [Land].IdObjects as [ID],
	--Manager.LastName as [Манеджер], 
	Land.Citi as [Город], [Land].[Street] as [Улица],
	[Land].House as [Дом], [Land].Coordinates as [Координаты],
	Land.LandCategory as [Категория земель],
	Land.Area as [Площадь (м)], Land.Price as [Цена] 
	from Land 
	left join [Objects] on Land.IdObjects=[Objects].Id
	left join Manager on [Objects].ManagerId=Manager.Id 		
	where Manager.LastName=@manager_last_name and [Objects].ManagerId=@manId
	and [Objects].Archive=@archive and [Objects].TypeOffer=@offer
END
GO
/****** Object:  StoredProcedure [dbo].[get_review_all]    Script Date: 22.09.2025 12:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[get_review_all]
	@Archive int = 1
AS
	SELECT * from Review where Review.Archive=@Archive
GO
/****** Object:  StoredProcedure [dbo].[set_description]    Script Date: 22.09.2025 12:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[set_description]
	-- Add the parameters for the stored procedure here
	@ObjId as int,
	@title as nvarchar(150),
	@p_1 as nvarchar(300),
	@p_2 as nvarchar(300),
	@p_3 as nvarchar(300)	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	insert into [Description] (ObjectId,Title,Paragraph_1,Paragraph_2,Paragraph_3)
	values (@ObjId,@title,@p_1,@p_2,@p_3)
END
GO
USE [master]
GO
