@model Project_3._0.Model.View.HomePageView
@using Project_3._0.Helpers.Html
<body class="index-page">

	<main class="main">

		<!-- Hero Section -->
		<section id="hero" class="hero section dark-background">

			<div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
				@{
					bool first = true;
					for (int i = 0; i < 3; i++)
					{
						@Html.HomePageApartment(Model.Apartments[i], first)
						first = false;
					}
				}		

				<a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
					<span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
				</a>

				<a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
					<span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
				</a>

				<ol class="carousel-indicators"></ol>

			</div>

		</section><!-- /Hero Section -->
		<!-- Services Section -->
		<section id="services" class="services section">

			<!-- Section Title -->
			<div class="container section-title" data-aos="fade-up">
				<h2>Наши услуги</h2>
				<p>Мы представляем широкий спектр услуг связных с недвижимостью</p>
			</div><!-- End Section Title -->

			<div class="container">

				<div class="row gy-4">

					<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
						<div class="service-item  position-relative">
							<div class="icon">
								<i class="bi bi-activity"></i>
							</div>
							<a href="service-details.html" class="stretched-link">
								<h3>Nesciunt Mete</h3>
							</a>
							<p>Provident nihil minus qui consequatur non omnis maiores. Eos accusantium minus dolores iure perferendis tempore et consequatur.</p>
						</div>
					</div><!-- End Service Item -->

					<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
						<div class="service-item position-relative">
							<div class="icon">
								<i class="bi bi-broadcast"></i>
							</div>
							<a href="service-details.html" class="stretched-link">
								<h3>Eosle Commodi</h3>
							</a>
							<p>Ut autem aut autem non a. Sint sint sit facilis nam iusto sint. Libero corrupti neque eum hic non ut nesciunt dolorem.</p>
						</div>
					</div><!-- End Service Item -->

					<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
						<div class="service-item position-relative">
							<div class="icon">
								<i class="bi bi-easel"></i>
							</div>
							<a href="service-details.html" class="stretched-link">
								<h3>Ledo Markt</h3>
							</a>
							<p>Ut excepturi voluptatem nisi sed. Quidem fuga consequatur. Minus ea aut. Vel qui id voluptas adipisci eos earum corrupti.</p>
						</div>
					</div><!-- End Service Item -->

					<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
						<div class="service-item position-relative">
							<div class="icon">
								<i class="bi bi-bounding-box-circles"></i>
							</div>
							<a href="service-details.html" class="stretched-link">
								<h3>Asperiores Commodit</h3>
							</a>
							<p>Non et temporibus minus omnis sed dolor esse consequatur. Cupiditate sed error ea fuga sit provident adipisci neque.</p>
							<a href="service-details.html" class="stretched-link"></a>
						</div>
					</div><!-- End Service Item -->

					<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
						<div class="service-item position-relative">
							<div class="icon">
								<i class="bi bi-calendar4-week"></i>
							</div>
							<a href="service-details.html" class="stretched-link">
								<h3>Velit Doloremque</h3>
							</a>
							<p>Cumque et suscipit saepe. Est maiores autem enim facilis ut aut ipsam corporis aut. Sed animi at autem alias eius labore.</p>
							<a href="service-details.html" class="stretched-link"></a>
						</div>
					</div><!-- End Service Item -->

					<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
						<div class="service-item position-relative">
							<div class="icon">
								<i class="bi bi-chat-square-text"></i>
							</div>
							<a href="service-details.html" class="stretched-link">
								<h3>Dolori Architecto</h3>
							</a>
							<p>Hic molestias ea quibusdam eos. Fugiat enim doloremque aut neque non et debitis iure. Corrupti recusandae ducimus enim.</p>
							<a href="service-details.html" class="stretched-link"></a>
						</div>
					</div><!-- End Service Item -->

				</div>

			</div>

		</section><!-- /Services Section -->
		<!-- Agents Section -->
		<section id="agents" class="agents section">

			<!-- Section Title -->
			<div class="container section-title" data-aos="fade-up">
				<h2>Наши агенты</h2>
				<p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
			</div><!-- End Section Title -->

			<div class="container">

				<div class="row gy-5">

					@{
						foreach (var item in Model.Agents)
						{
							@Html.HomePageAgets(item)
						}
					}
					@**@
				</div>

			</div>

		</section><!-- /Agents Section -->
		<!-- Testimonials Section -->
		<section id="testimonials" class="testimonials section">

			<!-- Section Title -->
			<div class="container section-title" data-aos="fade-up">
				<h2>Отзывы</h2>
				<p>Мы всегда просим клиентов оставлять честные отзывы про нас</p>
			</div><!-- End Section Title -->

			<div class="container" data-aos="fade-up" data-aos-delay="100">

				<div class="swiper init-swiper">
					<script type="application/json" class="swiper-config">
						{
						  "loop": true,
						  "speed": 600,
						  "autoplay": {
							"delay": 5000
						  },
						  "slidesPerView": "auto",
						  "pagination": {
							"el": ".swiper-pagination",
							"type": "bullets",
							"clickable": true
						  },
						  "breakpoints": {
							"320": {
							  "slidesPerView": 1,
							  "spaceBetween": 40
							},
							"1200": {
							  "slidesPerView": 3,
							  "spaceBetween": 1
							}
						  }
						}
					</script>
					<div class="swiper-wrapper">
						@{
							foreach (var item in Model.Reviews)
							{
								@Html.HomePageReview(item)
							}
						}					
						

					</div>

					<div class="swiper-pagination"></div>
				</div>

			</div>

		</section><!-- /Testimonials Section -->

	</main>


	<!-- Scroll Top -->
	<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

	<!-- Preloader -->
	<div id="preloader"></div>



</body>
