@model List<Agent> 
@using Project_3._0.Helpers.Html
@using Project_3._0.Model.Domain
<body class="agents-page">


    <main class="main">

        <!-- Page Title -->
        <div class="page-title" data-aos="fade">
            <div class="heading">
                <div class="container">
                    <div class="row d-flex justify-content-center text-center">
                        <div class="col-lg-8">
                            <h1>Agents</h1>
                            <p class="mb-0">Odio et unde deleniti. Deserunt numquam exercitationem. Officiis quo odio sint voluptas consequatur ut a odio voluptatem. Sit dolorum debitis veritatis natus dolores. Quasi ratione sint. Sit quaerat ipsum dolorem.</p>
                        </div>
                    </div>
                </div>
            </div>
            <nav class="breadcrumbs">
                <div class="container">
                    <ol>
                        <li><a asp-controller="Home" asp-action="Home">Главная страница</a></li>
                        <li class="current">Агенты</li>
                    </ol>
                </div>
            </nav>
        </div><!-- End Page Title -->
        <!-- Agents Section -->
        <section id="agents" class="agents section">

            <div class="container">

                <div class="row gy-5">

                    @{
                        foreach (var item in Model)
                        {
                            @Html.HomePageAgets(item)
                    <!-- End Team Member -->
                        }
                    }

                </div>

            </div>

        </section><!-- /Agents Section -->

    </main>

    <!-- Scroll Top -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Preloader -->
    <div id="preloader"></div>

   
</body>

